<%- include('./partials/nav-sidebar') %>
<section>
    <div class="container">
        <div class="row justify-content-center align-self-center m-4">
            <ul class="nav nav-tabs nav-justified" style="font-family: Ubuntu">
                <li class="nav-item">
                    <a class="nav-link" href="<%= linkStream %>">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= linkClassWork %>">Class Work</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="<%= path_clone %>">Students</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="<%= showGrade %>">Mark</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <% let joinedCount = 0; %>

            <% classUser.forEach(user => { %>
            <% let userID = user._id.toString(); %>
            <% joinResult.forEach(join => { %>
            <% let joinerID = join.joiner.toString(); %>
            <% if (userID === joinerID){ %>
            <% joinedCount++; %>
            <% } %>
            <% }) %>
            <% }) %>
            <big>Total Students :
                <strong><%= joinedCount %></strong></big>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row justify-content-center align-self-center" style="margin-top: 25px;">
            <% classUser.forEach(user => { %>
            <% let userID = user._id.toString(); %>
            <% joinResult.forEach(join => { %>
            <% let joinerID = join.joiner.toString(); %>
            <% if (userID === joinerID){ %>
            <div style="background:whitesmoke;border-radius: 5px;margin: 3px;width: 70%;">
                <div class="row">
                    <div class="col-md-2 thumbnail_medium">
                        <%if(user.profile_picture){%>
                        <img src="<%= `../public/uploads/${user.profile_picture}` %>" class="rounded-circle"
                            style="margin-top: 12px; margin-left: 20px" alt="Image">
                        <%}else{%>
                        <img src="../public/images/default_image.ico" class="rounded-circle"
                            style="margin-top: 12px; margin-left: 20px" alt="Image">
                        <%}%>

                                </div>
                                <div style="height: 92px;width: 2px;background:#74a8ff;"></div>
                                <div class="col-md-5 text-dark">
                                   <div class="mt-2">
                                       <strong>Name : </strong><span
                                               ><%= user.name %></span><br>
                        <strong>Registration Number : </strong><span><%= user.registration %></span><br>
                        <strong>Email : </strong><span><%= user.email %></span>
                    </div>

                </div>
                <div style="height: 92px;width: 2px;background:#74a8ff;"></div>
                <div class="col-md-4">
                    <h3 class="text-dark mt-4">Joined : <strong><%= join.date %></strong></h3>
                </div>
            </div>
        </div>
        <% } %>
        <% }) %>
        <% }) %>
    </div>

    </div>
</section>