<%- include('./partials/nav-sidebar') %>

<section class="my-4">
    <div class="container">
        <%- include('./partials/messages') %>
        <h4 class="text-light bg-primary p-2"
            style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; border-radius: 5px">
            CREATED CLASSES</h4>
        <div class="row">
            <% if (details != null){ %>
                <% details.forEach(detail => { %>
                    <div class="col-lg-4 mb-2">
                        <div class="card shadow"
                             style="background-color: whitesmoke; background-image: url(../public/images/class_room.jpg)">
                            <div class="card-header">
                                <div class="row p-1">
                                    <div class="col-md-8">
                                        <div style="position: relative;margin: 5px">
                                            <a href="/showclass/<%= detail._id %>"><h3
                                                        class="text-light"><%= detail.classname %></h3></a>
                                            <p style="color: #c6cfff"><%= user.name %></p>
                                        </div>
                                    </div>
                                    <div class="col-md-4 thumbnail">
                                        <img src="<%= `uploads/${user.profile_picture}` %>" height="60" width="60"
                                             class="rounded-circle mt-2" alt="Profile">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="background-color: whitesmoke">
                                <h5 class="card-title text-primary"><strong><%= detail.batch %></strong></h5>
                                <% let topic = detail.topic; %>
                                <% len = topic.length; %>
                                <% if (len > 40) { %>
                                    <% let result = topic.substring(0, 40); %>
                                    <p class="card-text"><%= result %><span>...</span></p>
                                <% } else { %>
                                    <p class="card-text pb-4"><%= topic %></p>
                                <% } %>

                            </div>
                            <div class="card-footer" style="background-color: rgb(214, 197, 197);">
                                <div class="icons" style="height: 35px;">
                                    <a href="#"><i class="material-icons" style="font-size: 30px !important;color: #3C4B9D">folder_shared</i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>

            <% } else { %>
                <h3>There are no class created</h3>
            <% } %>

        </div>
    </div>
</section>

<section>
    <div class="container">
        <h4 class="text-light bg-primary p-2"
            style="font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; border-radius: 5px">
            JOINED CLASSES</h4>
        <div class="row">
            <% if (joined != null){ %>
                <% joined.forEach(element => { %>
                    <% let ID = element.join %>
                    <% let joinedID = ID.toString(); %>
                    <% joined_details.forEach(value => { %>
                        <% let id = value.id %>
                        <% let taskID = id.toString(); %>
                        <% if (taskID == joinedID) { %>
                            <div class="col-lg-4 mb-3">
                                <div class="card shadow"
                                     style="background-color: whitesmoke; background-image: url(../public/images/class_room.jpg)">
                                    <div class="card-header">
                                        <div class="row p-1">
                                            <div class="col-md-8">
                                                <div style="position: relative;margin: 5px">
                                                    <a href="/joined/<%= value._id %>"><h3
                                                                class="text-light"><%= value.classname %></h3></a>
                                                    <p class="text-warning"><%= element.owner_name %></p>
                                                </div>
                                            </div>
                                            <div class="col-md-4 thumbnail" >
                                                <img src="<%= `uploads/${element.owner_profile_picture}` %>" height="60"
                                                     width="60"
                                                     class="rounded-circle mt-2" alt="Profile">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body" style="background-color: whitesmoke">
                                        <h5 class="card-title text-primary"><strong><%= value.batch %></strong></h5>
                                        <% let topic = value.topic; %>
                                        <% len = topic.length; %>
                                        <% if (len > 40) { %>
                                            <% let result = topic.substring(0, 40); %>
                                            <p class="card-text"><%= result %><span>...</span></p>
                                        <% } else { %>
                                            <p class="card-text pb-4"><%= topic %></p>
                                        <% } %>

                                    </div>
                                    <div class="card-footer" style="background-color: rgb(214, 197, 197);">
                                        <div class="icons" style="height: 35px;">
                                            <a href="#"><i class="material-icons" style="font-size: 30px !important;color: #3C4B9D">folder_shared</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>

                    <% }) %>
                <% }) %>
            <% }else { %>
                <h3>You do not joined any class</h3>
            <% } %>
        </div>
    </div>
</section>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="../public/js/google-sign-in.js"></script>