<%- include('./partials/nav-sidebar') %>
<div class="container">
    <div class="row justify-content-center align-self-center m-4">
        <ul class="nav nav-tabs nav-justified" style="font-family: Ubuntu">
            <li class="nav-item">
                <% if (path_clone === 'showclass'){ %>
                <a class="nav-link" href="/showclass/<%= classID %>">Stream</a>
                <% } else if (path_clone === 'joined'){ %>
                <a class="nav-link" href="/joined/<%= classID %>">Stream</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (path_clone === 'showclass'){ %>
                <a class="nav-link" href="/showclasswork/<%= classID %>">Class Work</a>
                <% } else if (path_clone === 'joined'){ %>
                <a class="nav-link" href="/joinedclasswork/<%= classID %>">Class Work</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (path_clone === 'showclass'){ %>
                <a class="nav-link" href="/showclassmates/<%= classID %>">Students</a>
                <% } else if (path_clone === 'joined'){ %>
                <a class="nav-link" href="/joinedclassmates/<%= classID %>">Students</a>
                <% } %>
            </li>
            <li class="nav-item">
                <% if (path_clone === 'showclass'){ %>
                <a class="nav-link active" href="/showclassgrade/<%= classID %>">Mark</a>
                <% } else if (path_clone === 'joined'){ %>
                <a class="nav-link active" href="/joinedclassgrade/<%= classID %>">Mark</a>
                <% } %>
            </li>
        </ul>

    </div>
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div style="background-color:whitesmoke;width: 80%; border-radius: 3px;">
                <div class="row m-1">
                    <div class="col-md-12 m-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Assignment Topic</th>
                                    <th scope="col">Submitted By</th>
                                    <th scope="col">Mark</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% submit.forEach(submit=>{ %>
                                <tr>
                                    <th scope="row">#</th>
                                    <td><%= submit.assignmentTopic %></td>
                                    <td><% submit.groups.forEach(user=>{ %>
                                        <%= user.name%> |
                                        <% })%>
                                    </td>
                                    <td><%= submit.mark %></td>
                                </tr>
                                <% })%>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>