<%- include('./partials/nav-sidebar') %>
<section style="margin-top: 30px">
    <div class="container" style="margin-left: 20%">
        <div class="row">
            <div class="col-md-4 m-1 update-form" style="background-color: whitesmoke;  border-radius: 3px;">
                <% if (user.profile_picture == null) { %>
                    <img src="../public/images/default_image.ico" height="200px" width="200px"
                         style="border-radius: 5px;">
                <% } else { %>
                    <img src="<%= `uploads/${user.profile_picture}` %>" height="240px" width="230px"
                         style="border-radius: 5px;">
                <% } %>
                <div>
                    <h4 class="text-light mt-1">Name : <span style="color: rgb(137, 233, 13);"><%= user.name %></span>
                    </h4>
                    <p class="text-light">Previous Email: <span
                                style="background-color: rgb(87, 102, 109);"><%= user.email %></span></p>
                </div>
            </div>
            <div class="col-md-5 m-1 update-form" style="background-color: rgb(223, 213, 213); border-radius: 3px;">
                <form action="/profileupdate/<%= user._id %>" method="POST" enctype="multipart/form-data">
                    <%- include('./partials/messages') %>
                    <h1 class="login-h1 mb-2">Update Your Profile</h1>
                    <div class="form-group">
                        <label for="profile" class="control-label" style="color: #23cd23">Choose your Picture
                            <strong><span
                                        style="color: white">Max Limit : 1MB</span></strong></label>
                        <input type="file" id="profile"  class="input-group" name="profile"
                               accept="image/*" onchange="loadFile(event)"/>
                    </div>
                    <img id="image" src="" height="200" width="220" style="border-radius: 5px;" alt="">

                    <button class="login-button m-2" type="submit">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    let loadFile = function(event) {
        let reader = new FileReader();
        reader.onload = function(){
            let output = document.getElementById('image');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    };
</script>